! CSS Reset Section from joshwcomeau.com/css/custom-css-reset *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* ! Color Variables */
:root {
  --lava: #4a3a2fff;
  --black: #171717ff;
  --gray: #b8b6b4ff;
  --white: #f9f9f9ff;
  --linen: #fff2e7ff;
}

.resume-container {
  width: 816px;
  height: 1056px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-auto-rows: repeat(6, auto); */
  /* grid-row-gap: 1em; */
  /* grid-auto-rows: minmax(min-content, max-content); */
  font-family: 'Roboto Flex';
  margin: 0 auto;
}

ul {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

h2 {
  font-size: 32px;
  margin-bottom: 0.5em;
}

.text-block {
  line-height: 1.9em;
}

header {
  grid-column: 1/4;
  background-color: var(--lava);
  display: flex;
  align-items: center;
  padding: 1em 2em;
  gap: 3em;
}

.head-shot-container {
  flex-basis: 25%;
}

.head-shot {
  border-radius: 50%;
}

.name-position {
  color: white;
  padding-left: 2em;
  border-left: 8px solid var(--white);
}

.name-position h1 {
  font-size: 42pt;
}

.name-position h3 {
  font-size: 28px;
  font-weight: 200;
}

.contact-education-skills {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: var(--linen);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
}

.details {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  /* grid-row-gap: em; */
  padding: 1.5em;
}

h4 {
  font-size: 20px;
}
.summary {
  grid-column-start: 1;
  grid-row-start: 1;
}

.experiences {
  grid-column-start: 1;
  grid-row-start: 2;
}

.school {
  margin-bottom: 1em;
}

.skills-text-block > p {
  line-height: 2.3em;
}

/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
  .contact-education-skills {
    grid-row: 5;
    grid-column: span 2;
    flex-direction: row;
  }

  .details {
    grid-column: 1/3;
  }
}
